@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    /* Colors */
    --primary: 172 66% 50%;
    --secondary: 333 71% 51%;
    --tertiary: 216 8% 13%;
    --primary-dark: 0 0% 6%;
    --secondary-dark: 0 0% 8%;
    --primary-white: 0 0% 100%;
  }
}
