---
// import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro"
import Experience from "@/components/Experience.astro"
import Projects from "@/components/Projects.astro"
import Contact from "@/components/Contact.astro"
import Skills from "@/components/Skills.astro"
import Presentation from "@/components/Presentation.astro"

// const posts = (await getCollection("posts")).sort(function (first, second) {
//   return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
// });
---

<Layout>
  <main class='flex flex-col gap-12'>
    <Presentation />
    <Experience />
    <Projects />
    <Skills />
    <Contact />
  </main>
</Layout>
