---
import { classNamesJoin } from '../utils/classNamesJoin'

const Variants = {
  default: 'rounded-md border py-[0.3em] px-[0.6em] shadow-lg shadow-black/10 truncate dark:border-custom-dark-v2 dark:bg-custom-dark',
  gradient: 'py-[0.3em] px-[0.6em] rounded shadow-lg shadow-secondary/10'
}
export interface Props {
  variant?: keyof typeof Variants
  className?: string
  props?: any
}
const { variant, className = '', props } = Astro.props as Props
const classVariant = classNamesJoin(Variants[variant ?? 'default'], className)
---
<button class={classVariant} {...props}>
    <slot />
</button>
