---
import presentation from "@/data/presentation"

import Link from "@/components/Link.astro"
import SocialLinks from "./SocialLinks.astro"
---

<article class='flex flex-col gap-6'>
  <header class='flex w-full flex-row justify-between gap-2'>
    <h3
      class='text-lg text-neutral-100 underline decoration-dashed underline-offset-8'
    >
      Cantact
    </h3>
  </header>
  <p>
    Email me at<Link class="mx-1" variant="text" href={`mailto:${presentation.mail}`}>
      {presentation.mail}</Link>or via my social links.
      <SocialLinks />
  </p>
</article>
