---
import Link from '@/components/ui/Link.astro'
import SocialLinks from './SocialLinks.astro'
import { getI18n } from '@/i18n'
import { convertAsteriskToStrongTag } from '@/utils'

const { currentLocale } = Astro

const i18n = getI18n({ lang: currentLocale })

const contact = i18n.Contact

const title = i18n.Translations.sections.title.Contact
---

<section class='flex flex-col gap-6'>
  <div class='flex w-full flex-row justify-between gap-2'>
    <h3
      class='text-lg text-neutral-100 underline decoration-dashed underline-offset-8'
    >
      {title}
    </h3>
  </div>
  <address
  set:html={contact.message}

  />
    <SocialLinks />
</section>
