---
import DynamicText from "./DynamicText.astro"

---

<footer class="">
    <div class="bg-gradient-to-r from-transparent dark:via-custom-dark-v2 to-transparent mt-4 p-4 max-w-4xl mx-auto after:bg-gradient-to-l after:from-transparent dark:after:via-secondary after:via-primary after:to-transparent after:w-full after:absolute after:h-[1px] after:duration-300 after:top-0 after:left-0 relative after:rounded-md after:shadow-xl">
      <p>Built and Design by <DynamicText variant="gradient">Maciel Franco</DynamicText></p>
    </div>
</footer>