---
import presentation from "@/data/presentation"
import Link from "./Link.astro"
const cvUrl = 'https://drive.google.com/file/d/18Tq-5DXhSQh2QiOE1kPh6q_RUUHOF0jz/view?usp=drive_link'
---

<header class="z-40 flex w-full items-center justify-between">
  <Link variant="text" href={`mailto:${presentation.mail}`}
    >{presentation.mail}</Link
  >

  <!-- <nav role="navigation"> -->
    <ul role="list" class="flex flex-row gap-2">
      <li>
        <Link variant="text" href={cvUrl} target='_blank'>
          Download CV
        </Link>
      </li>
    </ul>
  <!-- </nav> -->
</header>
