---
import { classNamesJoin } from '../utils/classNamesJoin'
const Variants = {
	button: `rounded p-[1px] after:absolute after:bg-gradient-to-l bg-gray-100 dark:bg-custom-dark-v2 dark:border-custom-dark-v2 after:from-secondary after:to-primary after:w-full after:rounded after:h-full after:bottom-0 after:left-0 after:scale-y-0 after:duration-200 after:z-0 grid place-content-center relative w-fit hover:after:scale-y-100 hover:shadow-primary/10 dark:hover:shadow-secondary/10 shadow-lg border border-gray-100 duration-200`,
	default: 'z-[1] rounded-md flex items-center'
}

export interface Props {
	variant?: keyof typeof Variants
	className?: string
  props: any
}

const { variant, className = '', props } = Astro.props as Props
const classVariant = Variants[variant ?? 'default']
const classNameSpan = classNamesJoin(className, 'bg-white py-[0.2em] px-[.4em] z-[1] border border-gray-100 rounded-md flex items-center dark:bg-custom-dark dark:border-custom-dark-v2')
---
{
  variant === 'button' ? 
  <a class={classVariant} {...props}>
      <span class={classNameSpan}>
        <slot/>
      </span>
  </a>
   :
   <a class={classVariant} {...props}>
    <slot />
   </a>
}