---
import Contact from "./Contact.section.astro";
import Proyects from "./Proyects.section.astro";
import Intro from "./Intro.section.astro";
import Techstack from "./Techstack.section.astro";

---

<main class="max-w-4xl mx-auto m-auto min-h-screen mt-10 lg:px-0 px-2">
    <Intro />
    <Proyects />
    <Techstack />
    <Contact />
</main>