---
import { cn } from '@/utils'
import type { HTMLAttributes } from 'astro/types'

const VARIANTS = {
  default: 'link-default',
  text: 'link-text',
  gradient: 'link-text',
  rounded: 'link-rounded',
}

type Props = HTMLAttributes<'a'> & {
  variant?: keyof typeof VARIANTS
}

const { variant = 'default', ...props } = Astro.props as Props

const className = cn(VARIANTS[variant], props.class ?? '')
---

<a href={props.href} class={className} {...props}>
  <slot />
</a>

<style>
  .link-default {
    color: #737373;
    text-decoration: none;
  }
  .link-default:hover {
    color: #000000;
  }

  .link-text {
    color: #737373;
    text-decoration: none;
  }
  .link-text:hover {
    color: #000000;
  }

  .link-rounded {
    display: inline-flex;
    align-items: center;
    padding: 0.375rem 1rem;
    border: 1px solid #e5e5e5;
    border-radius: 9999px;
    font-size: 0.8125rem;
    font-weight: 500;
    color: #262626;
    text-decoration: none;
    background-color: #ffffff;
  }
  .link-rounded:hover {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
  }
</style>
